@mixin table {
  margin-top: 30px;
  // position: absolute;
  width: 45vw;
  background: transparent;

  // border: 0.5px solid #33344b;
  height: 60vh;
  color: white;

  .ant-table-thead > tr > th {
    color: white;
    background: var(--main-modal-color);
  }
  .ant-table-row {
    height: 35px;
  }
  .ant-table-cell {
    height: 35px;
    background: var(--main-modal-color);
    color: #fff;
  }

  .action {
    color: #00f0ff;
    vertical-align: middle;
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }

  .ant-empty-description {
    color: white;
  }

  .ant-table-placeholder {
    background-color: transparent;
    color: var(--main-btn-color);
  }

  .ant-table-cell-row-hover {
    // background: rgba(25, 26, 41, 0.6);
    color: var(--main-btn-color);
    background: transparent;
  }
}

.content {
  display: grid;
  padding: 80px 32px;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  grid-template-rows: 80vh;
  justify-items: flex-start;
  position: absolute;
  margin-bottom: 112px;
  font-family: Lato;

  .left {
    color: white;
    font-family: Lato;
    position: relative;
    top: 80;
    // left: 32;
    width: 50vw;

    .tabPane {
      display: flex;
      flex-direction: row;
      font-size: 12px;

      .tab {
        width: 70px;
        height: 66px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 32px;
        box-sizing: border-box;
        padding-top: 15px;

        border: 1px solid #32334a;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        .icon {
          height: 27.833831787109375px;
          width: 23.621137619018555px;
          left: 4.189208984375px;
          top: 2.4239501953125px;
          border-radius: 0px;
          margin: auto;
          color: red;
          stroke: green;
        }
      }
    }

    #table {
      @include table;
    }
  }

  .right {
    width: 45vw;
    position: relative;

    .img {
      width: auto;
      height: 85vh;
    }
  }
}

.ant-message-notice-content {
  background-color: #1a1b2f;
  color: white;
}


.loading {
  margin: 30vh auto;
  text-align: center;
}