#table {
  .ant-table-cell-row-hover {
    // background: rgba(25, 26, 41, 0.6);
    color: var(--main-btn-color);
    background: transparent;
  }

  .miners {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    & :hover {
      color: var(--main-btn-color);
    }
  }

}
